<% content_for :css do %>
	<%= include_stylesheets :all, :kit, :media => "all" %>
<% end %>

<div id="kit" class="k-kit" data-id="<%=@kit.id %>">
	<div class="k-kit-title">
		<div class="k-kit-title-label" data-val="">
			<h2><%=@kit.title %></h2>
		</div>
		<div class="k-kit-title-input">
			<input type="text" id="kit-title" value="<%=@kit.title %>" class="span5">
		</div>
	</div>
	
	<div id="newitem" class="k-kit-add">
		<h4>Add Item</h4>
		<div class="row">
			<div class="span3"><input id="newitem-name" type="text" class="span3" placeholder="Product Name" /></div>
			<div class="span1"><input id="newitem-quantity" type="text" class="span1" value="1" /></div>
			<div class="span4"><input id="newitem-merchanturl" type="text" class="span4" placeholder="Merchant URL" /></div>
			<div class="span2"><input id="newitem-price" type="text" class="span2" placeholder="Price" /></div>
			<div class="span4"><input id="newitem-notes" type="text" class="span4" placeholder="Notes" /></div>
		</div>
		<a id="kit-add-btn" href="javascript:void(0)" class="btn small">Add Item</a>
	</div>
	
	<table id="kit-items" class="k-kit-items bordered-table zebra-striped">
		<thead>
			<tr>
				<th>Product Name</th>
				<th>Quality</th>
				<th>Merchant Link</th>
				<th>Price</th>
				<th>Notes</th>
			</tr>
		</thead>
		<tbody>
			<% if(@items.count > 0) %>
				<% @items.each do |item| %>
			<tr>
				<td><%=item.name %></td>
				<td><%=item.quantity %></td>
				<td><%=item.merchant_url %></td>
				<td><%=item.price %></td>
				<td><%=item.notes %></td>
			</tr>
				<% end %>
			<% end %>
		</tbody>
	</table>
</div>

<% content_for :js do %>
	<%= include_javascripts :all, :kit %>
	<script>
		$(function() {
			Kitify.Manager({
				components: {
					kitTitle: Kitify.KitTitle(),
					newItem: Kitify.NewItem(),
					kit: Kitify.Kit()
				}
			}).init();
		});
	</script>
<% end %>