<% content_for :css do %>
	<%= include_stylesheets :all, :kit, :media => "all" %>
<% end %>

<div id="kit" class="k-kit<%=(' editable' if @editable) %>" data-username="<%=@user.username %>" data-id="<%=@kit.slug %>" data-token="<%=@kit.token %>">
	<div class="k-kit-title">
		<div class="k-kit-title-label" data-val="<%=@kit.title %>">
			<h1><%=@kit.title %></h1>
		</div>
		<div class="k-kit-title-input">
			<input type="text" id="kit-title" value="<%=@kit.title %>" class="span5">
		</div>
		<a href="/buynow" class="k-kit-buynow btn primary large">Buy Now!</a>
	</div>
	
	<% if(@editable) %>
	<div id="newitem" class="k-kit-add">
		<h4>Add Item</h4>
		<div class="row">
			<div class="span3"><input id="newitem-name" type="text" class="k-field span3" placeholder="Item Name" required /></div>
			<div class="span1"><input id="newitem-quantity" type="number" class="k-field span1" value="1" placeholder="Qty" required /></div>
			<div class="span4"><input id="newitem-merchanturl" type="url" class="k-field span4" placeholder="Merchant URL" required /></div>
			<div class="span2 input">
				<div class="input-prepend">
				<span class="add-on">$</span><input id="newitem-price" type="number" class="k-field span2" placeholder="Price" required />
				</div>
			</div>
			<div class="span4"><input id="newitem-notes" type="text" class="k-field span4" placeholder="Notes" /></div>
		</div>
		<a id="kit-add-btn" href="javascript:void(0)" class="btn small">Add Item</a>
	</div>
	<% end %>
	
	<table id="kit-items" class="k-kit-items bordered-table zebra-striped">
		<thead>
			<tr>
				<th class="k-kit-items-col1">Item Name</th>
				<th class="k-kit-items-col2">Quantity</th>
				<th class="k-kit-items-col3">Merchant Link</th>
				<th class="k-kit-items-col4">Price</th>
				<th class="k-kit-items-col5">Notes</th>
				<th class="k-kit-items-col6"></th>
			</tr>
		</thead>
		<tbody>
			<tr><td colspan="6">Getting items...</td></tr>
		</tbody>
	</table>
</div>
<div id="kit-items-editctrls" class="k-kit-ctrls k-corner-right">
	<a href="javascript:void(0)" class="k-kit-ctrls-edit btn small">edit</a>
	<a href="javascript:void(0)" class="k-kit-ctrls-delete btn small danger">del</a>
</div>

<% content_for :js do %>
	<%= include_javascripts :all, :kit %>
	<script>
		$(function() {
			Kitify.Manager({
				components: {
					kit: Kitify.Kit({
						components: {
							kitTitle: Kitify.KitTitle(),
							newItem: Kitify.NewItem(),
							editItem: Kitify.EditItem()
						}
					})
				}
			}).init();
		});
	</script>
<% end %>